# python internals
*.ipynb_checkpoints
*__pycache__*

# local development
*.img*
*.envi*
*.hdr*
*.nc*
/user_contributed/NEON_EMIT/data/
/user_contributed/NEON_EMIT/neon_python_modules/
/_ignore
/.quarto/
/_site/